/* navbar component styles */

#menu-icon{
    display: none;
}

.navbar{
    background-image: url('/images/BandPhoto.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .links-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  
  }
  
  .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    font-size: x-large;
    border-left: 2px solid white;
  }
  .link{
    transition: 0.4s cubic-bezier(0, 1.08, 1, 1);
  
  }
  .link:hover{
    color: #38bdf8;
    border-bottom: 2px solid #f43f5e;
    letter-spacing: 2px;
  }

  /* Aside component styles */


#socials{
    margin-top: 3vh;
  }
  
  .icon-animation a{
    transition: 0.4s cubic-bezier(0.26, 0.84, 0.58, 1);
  
  }
  .icon-animation a:hover{
    transform: scale(1.5);
  
  }
  
  #socials-aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height:30vh;
    justify-content: space-around;
    align-items: center;
  }

  /* audio player component styles */

  
  .controls{
    margin-top: 2vh;
    
  }
  
  #audio-icon{
    transition: 0.4s cubic-bezier(0.26, 0.84, 0.58, 1);
  }
  
  #audio-icon:hover{
    transform: scale(1.5);
  
  }

  /* image component styles */

  .image-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Prevent wrapping of images */
    scroll-snap-type: x mandatory;
    padding: 10px 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Smooth scrolling */
    width: 100%; /* Ensure full width */
    height: 200px;
    margin-bottom: 10vh;
  }
  .image-container::-webkit-scrollbar {
    height: 5px; /* Adjust the height of the scrollbar */
  }
  
  .image-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .image-container::-webkit-scrollbar-thumb {
    background: rgb(8, 33, 221); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  .image-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }
  
  .scroll-container {
    overflow: hidden; /* Hide vertical scrollbars */
    width: 100%; /* Full viewport width */
    margin: 0 auto; /* Center container */
    padding: 0 10px; /* Optional: add padding for aesthetics */
    border-bottom: 2px solid red;
    border-radius: 10px;
    margin-left: 0; /* Reset margin-left */
   
  }
  .photo {
    flex: 0 0 auto; /* Prevent images from shrinking or growing */
    width: 20vw; /* Adjust width to fit desired number of images */
    height: 200px;
    object-fit: cover;
    margin-right: 10px; /* Space between images */
    scroll-snap-align: start;
  }
  
  
  /* Style for the modal background */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top */
  }
  
  /* Style for the modal content */


  .modal-content {
    position: relative; /* Required for absolute positioning of loader */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .img-div{
    display: flex;
    align-items: center;
    height:50%;
    width: 50%;
  
  }
  .img{
    max-width: 100%;
    max-height: 100%;
    width: 800px;
    height: 600px;
   
  }

  /* footer component styles */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% + 10vh);
    background-image: url("/images/GreyTexture.jpeg");
    object-fit: contain;
    color:white;
    font-size: 20px;
    padding: 1.5rem;
  }
  .footer-links-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 20vh;
    border-bottom: 2px solid darkgray;
  }
  .footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;  
  }