@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.paragraph,p{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}


h2{
  font-size:30px;
}
p{
  width: 25%;
}
.title-h3{
  font-size: 15px;
  margin-top: 20px;
}

.hide{
  display: none;
}
input{
  padding: 1rem;
  color:black;
  border-radius: 10px;
  text-align: left;
}

ul{
  margin-top: 3vh;
 
}
section{
  display: flex;
  align-items: center;
  font-size:large;
  font-weight: 500;
  width:100%;
  padding:1.5rem;
  border-radius: 10px;
  
}

/* main content styles */
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  padding:1.5rem;
  background-image: url("/images/GreyTexture.jpeg");
  object-fit: contain;
  margin-top: 15vh;
}
.logo>img{
    transition: 0.4s cubic-bezier(0.26, 0.84, 0.58, 1);
}
.logo>img:hover{
  transform: scale(1.05);
}
#song-section{
  flex-direction: column;
  justify-content: space-around;
  color:white;
  height: 70vh;
  width:100vw;
}

.song-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height:100%;
  border-radius: 5px;
  background-color: rgb(21, 20, 20);
  

}
.song-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:15vh;
  width:50%;
 

}

.song-title{
  font-size: 30px;
}

.streaming-link-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-inline: 10px;
  width:70%;
  margin-top: 10vh;
  font-size: 10px;
 
}
.streaming-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width:25vw;
}


#members-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  max-width: 50vw;
  min-width:fit-content;
  min-width: 50vw;
  margin-left: 26vw;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-inline: contain;
}

#members-section::-webkit-scrollbar {
  height: 5px; /* Adjust the height of the scrollbar */
}

#members-section::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

#members-section::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px /* Rounded corners for the thumb */
}

#members-section::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

#member-card{
  display: inline-flex;
  flex-direction: column;
  width: 50vw;
  height: 800px;
  border-radius: 10px;
  border: 2px solid black;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-image: url("/images/GreyTexture.jpeg");
  object-fit: cover;
  color: white;
  margin-right: 10px;
  flex: 0 0 auto; /* Ensure cards don't shrink */
  scroll-snap-align: start;
  

}
#member-card > img{
  border-radius: 10px;
  width:300px;
  height:350px;
  object-fit: contain;
  
}
#member-card > p{
  font-size: 50px;
}
.content{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
width:100%;
padding: 1.5rem;
}
.content > *{
  width:100%;
}

#socials-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
 
}
#social-container{
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  gap: 10px; /* Space between each item */
  align-items: center;
}


.media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  color: white;
  margin-top: 6vh;
}


.error{
  width:100%;
  padding: 1.5rem;
}





